[submodule ".gitdata/vendor/gitignore"]
	path = .gitdata/vendor/gitignore
	url = https://github.com/github/gitignore.git
[submodule ".gitdata/scripts"]
	path = .gitdata/scripts
	url = http://github.com/tlvince/git-scripts.git
