[user]
    name = Tom Vincent
    email = tlvince+linux@gmail.com
[alias]
    co = checkout
    st = status --short --ignore-submodules=dirty
    ci = commit
    br = branch
    df = diff
    ls = ls-files
    lpp = log --graph --all --pretty=format:'%h - (%cr) %s' --abbrev-commit --decorate --date-order
    lo = log --graph --decorate --pretty=oneline --abbrev-commit
    lp = log -p --follow
[web]
    browser = chromium
[color]
    diff = auto
[core]
    excludesfile = ~/.gitignore-global
